:root {
  --primary-color: #3a5a40;
  --secondary-color: #588157;
  --background-light: #fffdf8;
  --text-color: #2c2c2c;
  --accent-color: #a3b18a;
  --soft-green: #d4e4bc;
}

/* Base styles for mobile-first design */
body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--soft-green);
  transition: width 0.3s ease;
}

nav a:hover {
  color: var(--soft-green);
}

nav a:hover::after {
  width: 100%;
}

footer {
  background-color: var(--primary-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
}

footer a {
  color: white;
  margin: 0.5rem 0;
}

.plant-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  margin: auto;
}

.plant-card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 0 auto; /* This ensures the card is centered horizontally */
  background-color: var(--primary-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

.plant-card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
}

.plant-card h3 {
  color: white;
  margin: 10px 0;
}

.plant-card p {
  margin: 5px 0;
  color: white;
}

.watered-button {
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: #fefae0;
  border: none;
  font-weight: 800;
  transition: 0.3s;
}

.watered-button:hover {
  cursor: pointer;
  background-color: #fff7b7;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  gap: 10px; /* Add spacing between buttons */
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination-button {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination-button.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

.pagination-button:first-child {
  border-radius: 5px 0 0 5px;
}

.pagination-button:last-child {
  border-radius: 0 5px 5px 0;
}

.pagination-button:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
  border-color: #ddd;
}

.delete-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
  margin: 0;
}

.delete,
.details {
  cursor: pointer;
  border-radius: 10px;
  padding: 0.8rem;
  text-align: center;
  width: 90%;
  box-sizing: border-box;
  font-weight: 800;
}

.delete {
  background-color: red;
  transition: 0.3s;
}

.delete:hover {
  background-color: rgb(90, 10, 10);
  color: white;
}

.details {
  background-color: rgb(73, 96, 227);
  transition: 0.3s;
}

.details:hover {
  background-color: rgb(32, 50, 147);
  color: white;
}

.app-footer {
  background-color: var(--primary-color);
  color: #ecf0f1;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
}

/* Footer content container */
.footer-content {
  max-width: 100%; /* Full-width on mobile */
  margin: 0 auto;
}

/* Footer links */
.footer-links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; /* Wrap links on smaller screens */
  justify-content: center;
  gap: 10px;
}

/* Footer links styling */
.footer-links a {
  color: #ecf0f1; /* Light text for links */
  text-decoration: none;
  font-weight: bold;
  font-size: 14px; /* Easy-to-read on small screens */
}

.footer-links a:hover {
  color: #1abc9c; /* Accent color on hover */
  text-decoration: underline;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  nav a {
    margin: 0 1rem;
    font-size: 1.2rem;
  }

  .plant-card-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .delete,
  .details {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .plant-card-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    display: grid;
  }
}

@media (min-width: 1024px) {
  .plant-card-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .pagination-container {
    gap: 1rem;
  }
}
